@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

h1,
p {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 15px;
}

.hidden {
  visibility: hidden;
}
