.button_class {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 2%;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin: 0px;
  padding: 2% 5%;
}

.formLogin {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* .field {

} */

.form__group {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0 0 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #008680;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 2px;
  border-image: linear-gradient(to right, #008680, #4a88e0);
  border-image-slice: 1;
}
