section {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.container_start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.change_content {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.first_message {
  height: 50% !important;
}

.first_message p {
  overflow: hidden !important;
}

.offChange {
  display: none;
}
.Logo_parents {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.Logo_parents_off {
  width: 35%;
  display: none;
}

.Logo_parents img,
.Logo_two_parents img,
.Logo_parents_off img {
  width: 100%;
  height: 100%;
}

.Logo_two_parents {
  width: 35%;
}

.button_class {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 10% 2% 2% 2%;
}

.text {
  padding-top: 10%;
  height: 75%;
}

.text h1 {
  padding: 10% 15% 5% 15%;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}

.welcome_message {
  max-height: 70%;
  text-align: center;
  margin: 0px;
  padding: 10%;
  overflow: auto;
  /* border: 1px solid #ccc; */
}

/* parcours */

.action_route {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 25%;
}
.welcomme_route {
  width: 35%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.welcomme_route .points {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.welcomme_route .off {
  background-color: #d9d9d9;
}

.welcomme_route .active {
  background-color: #008680;
}

/* traitement du lien <a> */

.if_account a {
  color: #00867f;
  font-weight: 650;
}

.if_account a:hover {
  color: #00867f;
  text-decoration: none;
}

.if_account a:visited {
  color: #00867f;
}

.if_account a:active {
  color: #00867f;
}

@media screen and (min-width: 390px) {
  .Logo_parents {
    display: none;
  }

  .Logo_parents_off {
    display: block;
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}
